@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --roboto-family: 'Roboto', sans-serif;
    --poppins-family: 'Poppins', sans-serif;
    --open-sans: 'Open Sans', sans-serif;
    --comman-heading-color: #15295f;
    --navigation-menu-color: #15295f;
    --content-background-color: #fdf8f7;
    --comman-button-color: #fd6e0a;
    --bs-gutter-x: 1.5rem;
    --cf-primary-color: #fd6e0a;
    --bs-gutter-y: 0;
    --developer-intro-text: #6f6b80;
    --footer-bk-color:#fdf8f7;

}

.footer{
    padding: 40px 0;
    background-color: var(--footer-bk-color);
    text-align: center;
}

.footer .footer-content{
    font-size: 1.1rem;
    font-family: var(--poppins-family);
    color: var(--comman-heading-color);
    font-weight: lighter;
}
.footer .footer-content span{
    color: var(--cf-primary-color);
    font-size: 1.1rem;
    font-family: var(--poppins-family);
    text-transform: capitalize;
}

/* media query for the small devices ------------------------- */
@media(max-width:450px){
    .footer{
        padding: 40px 0;
        background-color: var(--footer-bk-color);
        text-align: center;
    }
    
    .footer .footer-content{
        font-size: 1rem;
        font-family: var(--poppins-family);
        color: var(--comman-heading-color);
        font-weight: lighter;
    }
    .footer .footer-content span{
        color: var(--cf-primary-color);
        font-size: 1rem;
        font-family: var(--poppins-family);
        text-transform: capitalize;
    }
}